<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled" />

    <security:http use-expressions="true" authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/login" access="permitAll"/>
        <security:intercept-url pattern="/app" access="permitAll"/>
        <security:intercept-url pattern="/lib" access="permitAll"/>
        <security:intercept-url pattern="/templates" access="permitAll"/>
        <security:intercept-url pattern="/" access="hasRole('USER')"/>

        <security:form-login
                login-page="/login.jsp"
                username-parameter="j_username"
                password-parameter="j_password"
                login-processing-url="/j_spring_security_check"
                authentication-failure-url="/login.jsp?login_error=1"
                authentication-success-handler-ref="authenticationSuccessHandler"
                />

        <security:logout
                logout-success-url="/login.jsp?logout"
                logout-url="/j_spring_security_logout"
                delete-cookies="JSESSIONID" />

        <security:csrf disabled="true" />

        <security:remember-me
                token-validity-seconds="1209600"
                remember-me-parameter="_spring_security_remember_me"
                remember-me-cookie="SPRING_SECURITY_REMEMBER_ME_COOKIE"
                data-source-ref="dataSource" />

    </security:http>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider user-service-ref="userServiceLogin">
            <security:password-encoder ref="encoder" />
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <property name="targetUrlParameter" value="targetUrl" />
    </bean>

    <bean id="corsFilter" class="com.perpustakaan.markaz.syariah.filter.CORSFilter" />
</beans>